{%extends 'base.html' %}


{%block head%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{%endblock%}

{% block body %}

        <script type="text/javascript">
            var start_time=Date.now();
        </script>


        <script type="text/javascript">



            clicks=0;

            function clicked(){
                var clickid=document.getElementById('clickid');
                   var time_diffid=document.getElementById('time_diffid');
                clicks+=1;
                console.log(clicks);
            }

            function submitted(){
                   var clickid=document.getElementById('clickid');
                   var time_diffid=document.getElementById('time_diffid');
                end_time=Date.now();
                diff=(end_time-start_time)/1000;

                clickid.value=clicks.toString();
                time_diffid.value=diff.toString();

            }


        </script>

        <div class="container text-center">

                <form class="form-signin" method="post" style="max-width:50%" disabled="True">
                    <fieldset disabled="disabled">
                <h3>{{question.text}} :</h3><br>
                <p>
                    <label for="optionA">{{question.optionA}}</label>
                    <input type="radio" onclick="clicked()" name="ans" value="A" {%if optionA %}checked{%endif%}>
                </p>
                <p>
                    <label for="optionB" >{{question.optionB}}</label>
                    <input type="radio" onclick="clicked()" name="ans" value="B" {%if optionB %}checked{%endif%}>
                </p>
                <p>
                    <label for="optionC" >{{question.optionC}}</label>
                    <input type="radio" onclick="clicked()" name="ans" value="C" {%if optionC %}checked{%endif%}>
                </p>
                <p>
                    <label for="optionD" >{{question.optionD}}</label>
                    <input type="radio" onclick="clicked()" name="ans" value="D" {%if optionD %}checked{%endif%}>
                </p>

                <input type="text" name="clicks" id="clickid" value="" hidden="true">
                <input type="text" name="time_diff" id="time_diffid" value="" hidden="true">


                <div id="submit">
                    <button name='submit' onclick="submitted()" class="btn btn-lg btn-primary btn-block" id="submit_but" >Submit Answer</button>
                </div>
              </fieldset>
            </form>
                <br>

								                   {%if correctAnswer == 'T' %} <h5>Congtatulations! You answered correctly.</h5>
								                    <h5>Your Confidence Level is: {{confi}} </h5> {%endif%}
								                    <br>
                                    {% if correctAnswer == 'F' %}
                                    <h5>You're Wrong</h5>
                                    <h2> Correct Answer is : {{question.answer}} </h2>{%endif%}
								                    <h5>Explanation: {{question.explanation}}</h5>
								                    <p></p>

                                    <div class="form-signin">
						                                  <a href = "{%url 'bsl:quiz' %}"><button name='nextQuestion' onclick="nextQuestion()" class="btn btn-lg btn-primary btn-block" id="next_Question" >Next Question</button></a>
                                        </div>
</div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{%endblock%}
